.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}
.logo {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-right: 16px;
}
nav {
    display: flex;
    justify-content: flex-start;
}
nav a {
    margin-left: 16px;
}

img {
    height: 85px;
    margin-right: 16px;
    border-radius: 50%;
}
