<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="header">
      <span class="logo"><img src="assets/logo.png" /></span>
      <span class="title">CO2-Footprint</span>
      <span class="spacer"></span>
      <nav>
        <a mat-button routerLink="/co2Table">CO2 Table</a>
        <a mat-button routerLink="/about">About</a>
        <a mat-button routerLink="/contact">Contact</a>
        <a href="">Deutsch</a>
        <a href="">English</a>
      </nav>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
