.table {
    margin: 10px;
}
.input-search {
    width: 20%;
    height: 30px;
    margin: 20px;
}
.klick-event {
    cursor: pointer;
}

@media only screen and (max-width: 450px) {
    .input-search {
        width: 50%;
    }
    .table {
        margin: 0;
    }
}
