<div class="mat-elevation-z8 table">
  <input
    class="input-search"
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Filter"
  />
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Country -->
    <ng-container matColumnDef="country">
      <th
        class="klick-event"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        (click)="sortColumn('country')"
      >
        Country
      </th>
      <td mat-cell *matCellDef="let element">{{ element.country }}</td>
    </ng-container>

    <!-- Company -->
    <ng-container matColumnDef="company">
      <th
        (click)="sortColumn('company')"
        class="klick-event"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Company
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.company }}
      </td>
    </ng-container>

    <!-- CO2 Emission -->
    <ng-container matColumnDef="co2Emission">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CO2 Emission</th>
      <td mat-cell *matCellDef="let element">{{ element.emissions }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
