<div class="welcome-text">
  Willkommen auf unserer CO2-Daten-Webseite!
  <br />
  <br />
  <p class="intro-text">
    Hier können Sie sich einen Überblick darüber verschaffen, welche Unternehmen
    und Länder wie viel CO2 jährlich emittieren. <br />
    Unsere Webseite bietet die Möglichkeit, die Daten nach Country, Company und
    Emissionen zu filtern und zu sortieren.

    <br />
    Wir sind ein interdisziplinäres Team, das professionelle Webseiten für eine
    große Non-Profit-Organisation entwickelt, die sich mit dem Klimawandel
    beschäftigt. <br />
    Unsere Webseite soll mehr Transparenz darüber schaffen, welche Auswirkungen
    die CO2-Emissionen auf die Umwelt haben.

    <br />
    Vielen Dank für Ihren Besuch auf unserer Webseite. Wir hoffen, dass Sie die
    Informationen, die wir hier bereitstellen, hilfreich finden.
  </p>
</div>
