.text {
    background-color: #4caf4fce;
    padding: 30px;
    margin-top: 104px;
}
.welcome-text {
    font-size: 28px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-text {
    font-size: 20px;
    line-height: 1.5;
}
@media screen and (max-width: 600px) {
    .text {
        padding: 10px;
        margin-top: 177px;
    }
    .welcome-text {
        font-size: 20px;
    }
    .intro-text {
        font-size: 16px;
    }
}
